h1 {
  color: #0290ff;
  font-weight: 700;
  font-size: 2.4rem;
}

h1 > a {
  color: unset;
  text-decoration: none;
}

nav {
  border-bottom: 1px solid #e8e8e8;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 200px;
  background: #fff;
}

.navLinksContainer {
  width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.navLinks > li {
  list-style: none;
  letter-spacing: 1.9px;
  font-size: 1.1rem;
}

.navLinks > li > a {
  text-decoration: none;
  color: #121212;
}

.navLinks > li > a:hover {
  color: rgba(128, 126, 126, 0.7);
}

.avatar:hover {
  cursor: pointer;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  nav {
    padding: 25px;
  }

  .navLinksContainer {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    width: unset;
  }

  .navLinks {
    width: 180px;
  }

  .navLinks > li {
    font-size: 0.8rem;
  }
}
